<launch>
  <arg name="init_x" value="0.0"/>
  <arg name="init_y" value="0.0"/>
  <arg name="init_z" value="0.0"/>

  <arg name="quad_name" default="TABV"/>
  <arg name="mav_name" default="$(arg quad_name)"/>
  <!-- <arg name="model" value="$(find rotors_description)/urdf/mav_with_vi_sensor.gazebo"/> -->
  <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo"/>
  <arg name="world_name" default="$(find rotors_gazebo)/worlds/basic.world"/>

  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="enable_command_feedthrough" default="false"/>
  <arg name="paused" value="true"/>
  <arg name="gui" value="true"/>
  <arg name="use_ground_truth" value="true"/>
  <arg name="verbose" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="custom_models" default=""/>


  <!-- <include file="$(find aloam_velodyne)/launch/aloam_velodyne_HDL_32.launch">
	  <arg name="rviz" value="false"/>
  </include> -->

  <!-- Gazebo stuff to spawn the world !-->
  <env name="GAZEBO_MODEL_PATH" 
      value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models:$(arg custom_models)"/>
  <env name="GAZEBO_RESOURCE_PATH" 
      value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <!-- RotorS stuff to spawn the quadrotor !-->
  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(arg model)" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="$(arg init_x)" />
      <arg name="y" value="$(arg init_y)" />
      <arg name="z" value="$(arg init_z)" />
      <!-- <arg name="use_custom_static_wind_field" default="$(arg use_custom_static_wind_field)"/>
      <arg name="custom_wind_field_path" default="$(arg custom_wind_field_path)"/> -->

    </include>
    
    <!-- <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node> -->
    
    <!-- <node name="key_joystick" pkg="rotors_joy_interface" type="key_joystick.py" output="screen" />
    
    <node name="joy_node" pkg="joy" type="joy_node" />
    <node name="rotors_joy_interface" pkg="rotors_joy_interface" type="rotors_joy_interface" output="screen">
        <param name="velocity" type="double" value="0.5"/> 
        <param name="Num" type="int" value="10"/> 
        <param name="Radius" type="double" value="2"/> 
        <param name="dis_min" type="double" value="0.5"/> 
        <param name="autoflight" type="int" value="0"/> 
    </node> -->
    
    <node name="hovering_example" pkg="rotors_gazebo" type="hovering_example" output="screen">
        <param name="init_state_x" value="$(arg init_x)"/>
        <param name="init_state_y" value="$(arg init_y)"/>
        <param name="init_state_z" value="$(arg init_z)"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find rotors_gazebo)/launch/simulator.rviz"/>

  </group>
  
  

</launch>